@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url('https://fonts.googleapis.com/css?family=David+Libre');

.background {
    filter: blur(2px);
    -webkit-filter: blur(2px);
    position: absolute;
    top: 0px;
    left: 0px;
    justify-content: center;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.4;
    z-index: -1;
    border-radius: 5px;
}

.full_div {
    margin: 10px;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 9px 9px 17px -1px rgba(0,0,0,0.32);
    -webkit-box-shadow: 9px 9px 17px -1px rgba(0,0,0,0.32);
    -moz-box-shadow: 9px 9px 17px -1px rgba(0,0,0,0.32);
    position: relative;
    backdrop-filter: blur(5px);
    border-style: solid;
    border-color: rgba(170,170,170,.3);
    border-width: 1px;
    width: 93%;
}

.left_column {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    width: 18%;
    height: 24%;
}

.box_art {
    max-height: 100%;
    max-width: 100%;
}

@media screen and (max-width: 600px) {
    .full_div {
        width: 90%;  /* adjust as needed */
        height: auto;  /* adjust as needed */
        margin: 5%;  /* adjust as needed */
        padding: 5%;  /* adjust as needed */
    }
    .box_art {
        max-width: 100%;
        height: auto;
    }
    .left_column {
        width: 100%;  /* adjust as needed */
        font-size: 1em;  /* adjust as needed */
    }
}

